<h1>Jimmy Hoo's 災情支援網</h1>

<table class="table">

<% @events.each do |event| %>

  <tr>
    <td><%= event.name %></td>

    <td><%= event.user.try(:short_name) %></td>

    <td>
    回覆數<%= event.attendee_count %>
    最後回覆<%= event.attendee_update %>
    <%= link_to "詳情", event_path(event), :class => "btn btn-primary" %>
    <%= link_to '更新', edit_event_path(event), :class => "btn btn-warning" %>
    <%= link_to '刪除', event_path(event), :method => :delete, :data => { :confirm => "認真的？" }, :class => "btn btn-danger" %>
    <%= link_to '留言', event_attendees_path(event), :class => "btn btn-primary" %>
    <% subscription = event.finy_subscription_by(current_user) %>
  <% if subscription %>
    <%= link_to "取消訂閱", unsubscribe_event_path(event), :method => :post, :class => "btn btn-primary" %>
  <% else %>
    <%= link_to "訂閱", subscribe_event_path(event), :method => :post, :class => "btn btn-primary" %>
  <% end %>
    </td>

  </tr>
<% end %>
</table>

  <%= search_form_for @q do |f| %>
    <%= f.label :name_cont, "主題搜尋" %>
    <%= f.search_field :name_cont %>
    <%= f.submit "GO!" %>
    <%= sort_link(@q, :attendee_count, '最多回覆', default_order: :desc) %>
    <%= sort_link(@q, :attendee_update, '最新回覆', default_order: :desc) %>
  <% end %>

<%= paginate @events %>

<%= link_to '發表新主題', new_event_path, :class => "btn btn-primary" %>