<div class="form-group">
<%= @event.name %>
</div>

<div class="form-group">
<%= @event.description %>
</div>

<% if @event.logo.exists? %>
  <%= image_tag( @event.logo.url(:medium) ) %>
<% else %>
  尚無圖片
<% end %>

<div class="form-group">
<%= @event.status %>
</div>

<p>分類: <%= @event.category.try(:name) %><p>