<div class="form-group">
<%= @event.name %>
</div>

<div class="form-group">
<%= @event.description %>
</div>

<% subscription = @event.finy_subscription_by(current_user) %>
<% if subscription %>
  <%= link_to "取消訂閱", unsubscribe_event_path(@event), :method => :post, :class => "btn btn-primary" %>
<% else %>
  <%= link_to "訂閱", subscribe_event_path(@event), :method => :post, :class => "btn btn-primary" %>
<% end %>

<% if @event.logo.exists? %>
  <%= image_tag( @event.logo.url(:medium) ) %>
<% else %>
  尚無圖片
<% end %>

<div class="form-group">
<%= @event.status %>
</div>

<p>分類: <%= @event.category.try(:name) %><p>