<div class="form-group">
<%= @event.name %>
</div>

<div class="form-group">
<%= @event.description %>
</div>

<div class="form-group">
<%= @event.status %>
</div>

<p>分類: <%= @event.category.try(:name) %><p>


<p><%= link_to '回到首頁', events_path, :class => "btn btn-primary" %></p>